<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Create Contest</h1>
	<input type="number" min="0" max="4">Easy</input>
	<input type="number" min="0" max="4">Medium</input>
	<input type="number" min="0" max="4">Hard</input>
	<select>
		<option value="1">Array</option>
		<option value="2">Linked List</option>

	</select>

</body>
</html>