{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/Contest/style.css' %}>
    <title>{{id}}</title>
</head>
<body>
    <ul>
        <li><a href="Home">Home</a></li>

        <li><a href="Report.html">Report</a></li>
        <li id="finish" onclick="fins()"><a href="Finish.html">Finish Test</a></li>
        <li><a href="Login.html">Log In</a></li>
                
      </ul>
      
    <div class="container">
    <div class="question">
        <h3 style="text-align: center;">QUESTION 1</h3>
        <br>
        <p style ="text-align: left; margin: 5px;">
          {% autoescape off %}
          {{content}}
          {% endautoescape %}
        </p>
    </div>
    <div class="container-col">
        <div id="editor">
            <select name="language" id="language">
                <option value="C++">C++</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
              </select>
            <textarea placeholder="Write Your Code here..." id="editor-text"></textarea>
            <textarea placeholder="Console Window" id="console-text"></textarea>
        </div>
        <div class="container-but">
            <button class="console" onclick="myFunction()">CONSOLE</button>
            <button class="test" onclick="test()">TEST</button>
            <button class="submit">SUBMIT</button>
        </div>
    </div>

    </div>
<script>
  function fins(){
    alert("Test Finished");
  }
function myFunction() {
  var x = document.getElementById("console-text");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
function test(){
  // document.getElementById("editor-text").defaultValue= "hi";
  var language= document.getElementById("language").value;
  var text_area= document.getElementById("editor-text").value;
  console.log(text_area);
  document.getElementById("editor-text").value= "hi";
  console.log(language);
}
</script>
</body>
</html>

  